<% if @error %>
  <h4><%= @error %></h4>
<% else %>
  <% if @parks.blank? %>
    <h4>No results.</h4>
  <% else %>
    <% @parks.each do |park| %>
      <h2><%= park["name"] %></h2>
      <h3><%= park["address"] %></h3>
      <h4>Facilities:</h4>
      <%= render_facilities_for(park) %>
    <% end %>
  <% end %>
<% end %>
