<% if @error %>
  <h4><%= @error %></h4>
<% else %>
  <% if @parks.blank? %>
    <h4>No results.</h4>
  <% else %>
    <!-- <h1>Showing results for <%# name ? name : facility %></h1> -->
    <% @parks.each do |park| %>
      <h2>Name:</h2>
      <%= park["name"] %>
      <h2>Location:</h2>
      <%= park["address"] %>
      <%# park["location"] %>
      <%# park["location"]["coordinates"].first %>
      <h2>Facilities:</h2>
      <%= render_facilities_for(park) %>
    <% end %>
  <% end %>
<% end %>
