/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'css/new-age';
 @import 'font-awesome';
 // @import 'less/new-age';
 @import 'simple-line-icons';
 // @import 'css/device-mockups';

.btn-search {
  background-color: #35627e;
  border-color: #35627e;
  color: white;
  margin-top: 10px;
}

.btn-search:hover {
  background-color: #26465a;
  border-color: #26465a;
}

.btn-reset {
  background-color: #6fa3c3;
  border-color: #6fa3c3;
  color: white;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .btn-search {
    margin-left: 15px;
    margin-top: 0;
  }
  .btn-reset {
    text-align: left;
  }
}

.btn-reset:hover,
.btn-reset:focus,
.btn-reset:active {
  background-color: #4b8cb4;
  border-color: #4b8cb4;
}

.address-search-distance {
  display: flex;
  justify-content: center;
}

.address-search-first-part h2 {
  margin-top: 10px;
}
/*need to figure out mobile display*/
@media (min-width: 768px) {
  .address-search-first-part {
    display: flex;
    justify-content: flex-start;
  }
}

.address-search-second-part {
  margin-top: 0px;
}

.distance-search {
  margin-left: 10px;
  margin-right: 10px;
}

.distance-number {
  vertical-align: middle;
}

.facilities-list {
  column-count: 3;
  column-gap: normal;
  column-width: 60px;
  list-style-type: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}

.facility-item > p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .facility-item > p {
    font-size: 18px;
  }
}
